<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card" >
        <mat-card-title>
          <div class="center">
            <img src="/assets/images/notEvenMe.jpg" class="profile-image">
          </div>
        </mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2">
      <mat-card class="dashboard-card">
        <h2 style="font-size: 40px;">Hi!</h2>
        <p>My name is Michał.</p>
        <p>I'm a university student who enjoys his time coding various things and doing projects with freinds.</p>
        <p>Learning how to do stuff in a new technology was quite a lot of fun.</p>
        <p>I hope you like this simple app.</p>
      </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
</div>


