<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <img src="/assets/gallery_images/img1.jpg" class="image">
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <img src="/assets/gallery_images/img6vert.jpg" class="image">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/gallery_images/img2.jpg" class="image">
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <img src="/assets/gallery_images/img7vert.jpg" class="image">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/gallery_images/img3.jpg" class="image">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/gallery_images/img4.jpg" class="image">
    </mat-grid-tile>
  </mat-grid-list>
</div>

